{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}
<div class="container">
  <div class="card-deck mb-3 text-center">
    {% for page in pages %}
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h5 class="my-0 font-weight-normal">
          <a href="pages/{{ page.slug }}.html">{{ page.title }}</a>
        </h5>
      </div>
      <div class="card-body">
        <label>{{ page.summary }}</label>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
